<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="container">
        <h2>Device</h2>
        <h4>name: <%= name%></h4>
        <h4>label: <%= label%></h4>
        <h4>device network id: <%= deviceNetworkId%></h4>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>


